<div class="section latest-jobs-ads">
  <div class="section-title tab-manu">
    <h4>Latest Jobs</h4>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#hot-jobs" data-toggle="tab">Hot Jobs</a>
      </li>
      <li role="presentation">
        <a href="#recent-jobs" data-toggle="tab">Recent Jobs</a>
      </li>
      <li role="presentation" >
        <a href="#popular-jobs" data-toggle="tab">Popular Jobs</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in" id="hot-jobs">
      <div *ngFor="let offre of this.offres; let i = index" class="job-ad-item">
        <div class="item-info">
          <div class="item-image-box">
            <div class="item-image">
              <a href="job-details.html"
                ><img
                  src="assets/images/job/3.png"
                  alt="Image"
                  class="img-responsive"
              /></a>
            </div>
            
          </div>

          <div class="ad-info">
            <span>
              
              <a href="job-details.html" class="title">{{offre.nom}}</a> 
              <a routerLink="/home">
              </a></span>

            <div class="ad-meta">
              <ul>
                <li>
                  <a routerLink="/home">
                    <i class="fa fa-map-marker"aria-hidden="true"></i
                    > 
                  </a>{{offre.ville}}
                </li>
                <li>
                    <a routerLink="/home"
                      ><i class="fa fa-clock-o" aria-hidden="true">{{offre['diff']}} jours</i></a>
                </li>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-money" aria-hidden="true"></i
                    > {{offre.remuneration}}DH</a
                  >
                </li>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-user-o" aria-hidden="true"></i
                    > {{offre.nbrPersonne}}personne(s)</a
                  >
                </li>
                
                <br/>
                <br/>
                <li>
                  <a routerLink="/home"
                    >Description :{{offre.description}}</a>
                </li>
              </ul>
            </div>
            <!-- ad-meta -->
          </div>
          <!-- ad-info -->
          <div class="button">
            <button (click)="onApply(offre)" class="btn btn-primary"
              > Now</button
            >
          </div>
        </div>
        <!-- item-info -->
      </div>
    </div>
    <!-- tab-pane -->

    <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
      <div *ngFor="let offre of this.Mesoffres; let i = index" class="job-ad-item">
        <div class="item-info">
          <div class="item-image-box">
            <div class="item-image">
              <a href="job-details.html"
                ><img
                  src="assets/images/job/3.png"
                  alt="Image"
                  class="img-responsive"
              /></a>
            </div>
            
          </div>

          <div class="ad-info">
            <span>
              
              <a href="job-details.html" class="title">{{offre.nom}}</a> 
              <a routerLink="/home">
              </a></span>

            <div class="ad-meta">
              <ul>
                <li>
                  <a routerLink="/home">
                    <i class="fa fa-map-marker"aria-hidden="true"></i
                    > 
                  </a>{{offre.ville}}
                </li>
                <li>
                    <a routerLink="/home"
                      ><i class="fa fa-clock-o" aria-hidden="true">{{offre['diff']}} jours</i></a>
                </li>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-money" aria-hidden="true"></i
                    > {{offre.remuneration}}DH</a
                  >
                </li>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-user-o" aria-hidden="true"></i
                    > {{offre.nbrPersonne}}personne(s)</a
                  >
                </li>
                
                <br/>
                <br/>
                <li>
                  <a routerLink="/home"
                    >Description :{{offre.description}}</a>
                </li>
              </ul>
            </div>
            <!-- ad-meta -->
          </div>
          <!-- ad-info -->
          <div class="button">
            
            <button [routerLink]="['/offer', 'update', offre._id]" class="btn btn-danger"
              > update</button
            >
            <button (click)="onDelete(offre)" class="btn btn-light"
              > delete!</button
            >
          </div>
        </div>
        <!-- item-info -->
      </div>
      <!-- tab-pane -->
  
      <!-- tab-pane -->
    </div>
    <!-- tab-content -->
  </div>