<div class="section latest-jobs-ads">  
  <div class="section-title tab-manu">
  <h4>Latest Jobs</h4>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a  href="#hot-jobs" data-toggle="tab">liste demandes</a>
    </li>
    <li *ngIf="this.getRole()=='1'" role="presentation">
      <a href="#recent-jobs" data-toggle="tab">Mes demandes</a>
    </li>
    
  </ul>
</div>
  

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="hot-jobs" >
      <div *ngFor="let demande of this.demandes; let i = index" class="job-ad-item">
        <div class="item-info">
          <div class="item-image-box">
            <div class="item-image">
              <a href="job-details.html"
                ><img
                  src="assets/images/job/6.png"
                  alt="Image"
                  class="img-responsive"
              /></a>
            </div>
            
          </div>

          <div class="ad-info">
            <span>
              
              <a href="job-details.html" class="title">{{demande.nom}}</a> 
              <a routerLink="/home">
              </a></span>

            <div class="ad-meta">
              <ul>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-map-marker"
                      aria-hidden="true"
                    ></i
                    > {{demande.ville}}
                  </a>
                </li>
                <li>
                    <a routerLink="/home"
                      ><i class="fa fa-clock-o" aria-hidden="true">{{demande['diff']}} jours</i></a>
                </li>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-money" aria-hidden="true"></i
                    >{{demande.remuneration}} DH</a
                  >
                </li>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-user-o"  aria-hidden="true"></i>{{demande.nbrPersonne}}personne(s)</a>
                </li>
                <br/>
                <br/>
                <li>
                  <a routerLink="/home"
                    >Description :{{demande.description}}</a>
                </li>
              </ul>
            </div>
            <!-- ad-meta -->
          </div>
          <!-- ad-info -->
          <div class="button">
            <a *ngIf="this.getRole()=='0'" routerLink="/home" class="btn btn-primary"
              >inviter</a
            >
          </div>
        </div>
        <!-- item-info -->
      </div>
    </div>
    <!-- tab-pane -->

    <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
      <div *ngFor="let demande of this.Mesdemandes; let i = index" class="job-ad-item">

        <div class="item-info">
          <div class="item-image-box">
            <div class="item-image">
              <a href="job-details.html"
                ><img
                  src="assets/images/job/6.png"
                  alt="Image"
                  class="img-responsive"
              /></a>
            </div>
            
          </div>

          <div class="ad-info">
            <span>
              
              <a href="job-details.html" class="title">{{demande.nom}}</a> 
              <a routerLink="/home">
              </a></span>

            <div class="ad-meta">
              <ul>
                <li>
                  <a routerLink="/home"
                    ><i class="fa fa-map-marker"
                      aria-hidden="true"
                    ></i
                    > {{demande.ville}}
                  </a>
                </li>
                <li>
                    <a routerLink="/home"
                      ><i class="fa fa-clock-o" aria-hidden="true">{{demande['diff']}} jours</i></a>
                </li>
               
                
                <br/>
                <br/>
                <li>
                  <a routerLink="/home"
                    >Description :{{demande.description}}</a>
                </li>
              </ul>
            </div>
            <!-- ad-meta -->
          </div>
          <!-- ad-info -->
          
        
          
        </div>
        <div >
            
          <button [routerLink]="['/demande', 'update', demande._id]" class="btn btn-danger"
            > Modifier</button
          >
          <button (click)="onDelete(demande)" class="btn btn-light"
            > Supprimer</button
          >
        </div>
        <!-- item-info -->

      </div>
     

      </div>
      
    </div>
    
    <!-- tab-content -->
  </div>