<section class="job-bg ad-details-page">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>demande</li>
      </ol>
      <!-- breadcrumb -->
	  <h2 class="title">demande</h2>
	  <div class="button col-md-3">
		<a [routerLink]="['./list']" class="btn btn-primary">lister les demandes</a>
	  </div>
	  <div  *ngIf="this.getRole() == '1'"  class="button col-md-3">
		<a [routerLink]="['./form']" class="btn btn-primary">ajouter une demande</a>
	  </div>
    </div>
    <!-- banner -->

    <div class="job-postdetails post-resume">
      <div class="row">
        <div class="col-md-12 clearfix">
          <fieldset>
            <router-outlet></router-outlet>
          </fieldset>

          <!-- form -->
        </div>

      

        <!-- quick-rules -->
      </div>
      <!-- photos-ad -->
    </div>
  </div>
  <!-- <div>Value: {{ postresumeForm.value | json }}</div> -->

  <!-- container -->
</section>
