<section class=" job-bg ad-details-page">
  <div class="container">

    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>
          <a routerLink="/home">Accueil</a>
        </li>
        <li>Postuler CV</li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">Postuler CV</h2>
    </div>
    <!-- banner -->

    <div class="job-postdetails post-resume">
      <div class="row">
        <div class="col-md-8 clearfix">
          <fieldset>
         <!--  <form novalidate (ngSubmit)="save()" [formGroup]="postresumeForm">
            
              
                <router-outlet>
                    <span *ngIf="showLoader" class="loading">Loading...</span>
                </router-outlet>
            
              
              <div _ngcontent-c3="" class="section express-yourself">
                <h4 _ngcontent-c3="">Field marked with <span _ngcontent-c3="" style="color:red">*</span> are required fields</h4>
                <div _ngcontent-c3="" class="row form-group">
                  <table >
                  
                  <div _ngcontent-c3="" class="col-sm-8"> 
                    <div class="form-group">
                     <tr><td><label for="Nom">Nom</label></td>
                     <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre nom"></td> 
                    </tr>
                    </div>
                    <div class="form-group">
                      <tr><td><label for="prenom">prenom</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre prenom"></td> 
                     </tr>
                     </div>
                   
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter votre email">
                     
                    </div>
                    <div class="form-group">
                      <tr><td><label for="Domaine">Specialite</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre Specialite"></td> 
                     </tr>
                     </div>
                     <div class="form-group">
                      <tr><td><label for="Nom">Niveau d'étude</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre Niveau d'étude"></td> 
                     </tr>
                     </div>
                     <div class="form-group">
                      <tr><td><label for="Nom">Nom</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre nom"></td> 
                     </tr>
                     </div>
                    <div class="form-group">
                     <tr>
                      <td><label for="exampleInputPassword1">Téléphone</label></td>
                      <td><input type="text" class="form-control" id="exampleInputPassword1" placeholder="+212 345678910"></td>
                     </tr> 
                    </div>
                    <div class="form-check">
                      <tr>
                       <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td> 
                      <label class="form-check-label" for="exampleCheck1">Êtes-vous</label>
                      </tr>
                      
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="Stagiaire" value="Stagiaire" checked>
                      <label class="form-check-label" for="exampleRadios1">
                      Stagiaire
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="Entreprise" value="Entreprise">
                      <label class="form-check-label" for="exampleRadios2">
                        Entreprise
                      </label>
                    </div>

                    
                    
                  </div>
                  </table>
                </div>
                
                

                
                        
              </div>


           
            </fieldset>
          </form> -->
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

            <p class="h4 mb-4">Sign up</p>
          
            <div class="form-row mb-4">
                <div class="col">
                  <label>Nom d'utilisateur</label>
                    <input type="text" formControlName="username" id="defaultRegisterFormUserName" class="form-control" placeholder="nom d'utilisateur">
                </div><br/>
                <div class="col">
                  <label>Mot de passe</label>
                    <input type="password" formControlName="password" id="defaultRegisterUserName" class="form-control" placeholder="***********">
                </div>
                <div class="col">
                  <label>confirmer Mot de passe</label>
                    <input type="password" formControlName="confirmPassword" id="defaultRegisterUserName" class="form-control" placeholder="***********">
                    <span class="help-block" style="margin-right:100px;" style="color:red" *ngIf="(userForm.get('confirmPassword').touched || userForm.get('confirmPassword').dirty)
                                  && userForm.get('confirmPassword').errors">
                                       <span *ngIf="userForm.get('confirmPassword').errors.required">
                                        le mot de passe est requis .
                                       </span>
                                       <span *ngIf="userForm.get('confirmPassword').errors.minlength">
                                        Le mot de passe de confirmation doit comporter plus de 3 caractères.
                                       </span>
                                       <span *ngIf="userForm.get('confirmPassword').errors.mustMatch">
                                        Le mot de passe doit correspondre .
                                       </span>
                                   </span>
                </div>
            </div>
            <br/>
            <div   class="custom-control custom-radio">
							<input id="stagiaire" type="radio" class="custom-control-input" value="1" name="role" formControlName="role">
              <label class="custom-control-label" for="stagiaire">Stagiaire</label>
            </div>

            <div class="custom-control custom-radio">
              <input id="entreprise" type="radio" class="custom-control-input" value="0" name="role" formControlName="role" checked>
              <label class="custom-control-label" for="entreprise">Entreprise</label>
            </div>
            <br/>
            <div *ngIf="this.userForm.value['role']==1" class="form-row mb-4" formGroupName="stagiaire" class="Form">
                                        <p class="h4 mb-4">Stagiare Info </p><br>
                                        <div class="col">
                                          <label>Nom * </label>
                                          <input type="text" formControlName="nom" id="defaultRegisterFormnom" class="form-control" placeholder="Entrer votre nom">
                                          <span class="help-block" style="margin-right:100px;" style="color:red" *ngIf="(this.stagiaireForm.controls.nom.touched || this.stagiaireForm.controls.nom.dirty)
                                          && this.stagiaireForm.controls.nom.errors">
                                               <span *ngIf="this.stagiaireForm.controls.nom.errors.required">
                                                le nom est requis .
                                               </span>
                                               </span>
                                        </div><br/>
                                         <div class="col">
                                           <label>Prenom *</label>
                                            <input type="text" formControlName="prenom" id="defaultRegisterFormprenom" class="form-control" placeholder="Entrer votre prenom">
                                            <span class="help-block" style="margin-right:100px;" style="color:red" *ngIf="(this.stagiaireForm.controls.prenom.touched || this.stagiaireForm.controls.prenom.dirty)
                                          && this.stagiaireForm.controls.Prenom.errors">
                                               <span *ngIf="this.stagiaireForm.controls.prenom.errors.required">
                                                le nom est requis .
                                               </span>
                                               </span>
                                          </div><br/>
                                        <div class="col">
                                          <label>Sexe *</label>
                                          <select class="form-control" formControlName="sexe" id="defaultRegisterFormsexe" class="form-control" aria-placeholder="Sexe">
                                            <option value="">Sexe</option>
                                            <option value="homme">Homme</option>
                                            <option value="femme">Femme</option>
                                            <option value="autre">Autre</option>
                                            </select>
                                      </div><br/>
                                        <div class="col">
                                          <label>CIN *</label>
                                          <input type="text" formControlName="cin" id="defaultRegisterFormcin" class="form-control" placeholder="CIN">
                                      </div><br/>
                                      <div class="col">
                                        <label>Date de Naissance *</label>
                                      <input type="date" formControlName="dateNaissance" id="defaultRegisterFormdateNaissance" class="form-control" placeholder="Entrer votre date de Naissance">
                                    </div><br/>
                                    <div class="col">
                                      <label>Specialite*</label>
                                     <input type="text" formControlName="specialite" id="defaultRegisterFormspecialite" class="form-control" placeholder="Quelle est votre specialite?">
                                  </div><br/>
                                  <div class="col">
                                    <label>Diplome *</label>
                                    <select class="form-control" formControlName="niveau" id="defaultRegisterFormniveau" class="form-control">
                                      <option value="">Niveau</option>
                                      <option value="bac">BAC</option>
                                      <option value="bac+2">BAC+2(DEUG)</option>
                                      <option value="bac+3">BAC+3(LICENCE)</option>
                                      <option value="bac+4">BAC+4</option>
                                      <option value="bac+5">BAC+5</option>
                                     </select>
                               </div><br/>
                                <div class="col">
                                  <label>Telephone</label>
                                  <input type="text" formControlName="tele" id="defaultRegisterFormtele" class="form-control" placeholder="Quelle est votre numero de Telephone ?">
                              </div><br/>
                             
                            <div class="col">
                              <label>Email *</label>
                              <input type="email" formControlName="email" id="defaultRegisterFormemail" class="form-control" placeholder="Votre adresse Mail XXX@XX.XX">
                          </div><br/>
                          <div class="col">
                            <label>Motivation</label>
                            <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" placeholder="Quelle est votre motivation en quelques lines?" rows="3"></textarea>                        </div><br/>

            </div>
            <div *ngIf="this.userForm.value['role']==0" class="form-row mb-4" formGroupName="entreprise" class="Form">
                                      <p class="h4 mb-4">Entreprise info </p><br>
                                      <div class="col">
                                        <label>Nom *</label>
                                        <input type="text" formControlName="nom" id="defaultRegisterFormnom" class="form-control" placeholder="Quel est le nom de l'entreprise ?">
                                            </div><br/>
                                            <div class="col">
                                              <label>Email *</label>
                                              <input type="email" formControlName="email" id="defaultRegisterFormemail" class="form-control" placeholder="l'Email de l'entreprise ? " >
                                          </div><br/>
                                            <div class="col">
                                              <label>Ville *</label>
                                              <input type="text" formControlName="ville" id="defaultRegisterFormville" class="form-control" placeholder="La ville de l'entreprise ?">
                                                 </div><br/>
                                          <div class="col">
                                            <label>Specialite </label>
                                          <input type="text" formControlName="specialite" id="defaultRegisterFormspecialite" class="form-control" placeholder="Quelle est sa specialite ?">
                                        </div><br/>
        
                                      <div class="col">
                                        <label>Telephone *</label>
                                        <input type="number" formControlName="tele" id="defaultRegisterFormtele" class="form-control" placeholder="Numero de l'entreprise ?">
                                        </div><br/>
    
                                 

            </div>
            <button class="btn btn-info my-4 btn-block" type="submit">Se connecter</button>
          
            <hr>
          
          </form>
        </fieldset>
          
        </div>       
       
        <!-- quick-rules -->
        
        <!-- quick-rules -->
      </div>
      <!-- photos-ad -->
    </div>
  </div>
 
  <!-- <div>Value: {{ postresumeForm.value | json }}</div> -->
  
  <!-- container -->
</section>