<section class=" job-bg ad-details-page">
  <div class="container">

    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>
          <a routerLink="/home">Accueil</a>
        </li>
        <li>Postuler CV</li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">Postuler CV</h2>
    </div>
    <!-- banner -->

    <div class="job-postdetails post-resume">
      <div class="row">
        <div class="col-md-8 clearfix">
          <form novalidate (ngSubmit)="save()" [formGroup]="postresumeForm">
            <fieldset>
              
                <router-outlet>
                    <span *ngIf="showLoader" class="loading">Loading...</span>
                </router-outlet>
            
              <!-- postdetails -->
              <div _ngcontent-c3="" class="section express-yourself">
                <h4 _ngcontent-c3="">Field marked with <span _ngcontent-c3="" style="color:red">*</span> are required fields</h4>
                <div _ngcontent-c3="" class="row form-group">
                  <table >
                  
                  <div _ngcontent-c3="" class="col-sm-8"> 
                    <div class="form-group">
                     <tr><td><label for="Nom">Nom</label></td>
                     <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre nom"></td> 
                    </tr>
                    </div>
                    <div class="form-group">
                      <tr><td><label for="prenom">prenom</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre prenom"></td> 
                     </tr>
                     </div>
                   
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter votre email">
                     
                    </div>
                    <div class="form-group">
                      <tr><td><label for="Domaine">Specialite</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre Specialite"></td> 
                     </tr>
                     </div>
                     <div class="form-group">
                      <tr><td><label for="Nom">Niveau d'étude</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre Niveau d'étude"></td> 
                     </tr>
                     </div>
                     <div class="form-group">
                      <tr><td><label for="Nom">Nom</label></td>
                      <td><input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="Enter votre nom"></td> 
                     </tr>
                     </div>
                    <div class="form-group">
                     <tr>
                      <td><label for="exampleInputPassword1">Téléphone</label></td>
                      <td><input type="text" class="form-control" id="exampleInputPassword1" placeholder="+212 345678910"></td>
                     </tr> 
                    </div>
                    <div class="form-check">
                      <tr>
                       <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td> 
                      <label class="form-check-label" for="exampleCheck1">Êtes-vous</label>
                      </tr>
                      
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="Stagiaire" value="Stagiaire" checked>
                      <label class="form-check-label" for="exampleRadios1">
                      Stagiaire
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="Entreprise" value="Entreprise">
                      <label class="form-check-label" for="exampleRadios2">
                        Entreprise
                      </label>
                    </div>

                    
                    <!---->
                  </div>
                  </table>
                </div>
                
                

                
                        
              </div>


              
              <!-- career-objective -->


              <!-- work-history -->


              <!-- education-background -->


              <!-- special-qualification -->


              <!-- language-proficiency -->


              <!-- person-details -->

              
              
              <!-- special-qualification -->
            </fieldset>
          </form>
          <!-- form -->
          <div class="buttons">
            <button (click)="save()" class="btn btn-primary" [disabled]="!postresumeForm.valid">Post Profile</button>
            <button (click)="clear()" class="btn btn-danger">Cancel</button>
          </div>
        </div>       
       
        <!-- quick-rules -->
        <div class="col-md-4">
          <div class="section quick-rules">
            <h4>Quick rules</h4>
            <p class="lead">Posting an ad on
              <a >Sankeerthi</a> is free! However, all ads must follow our rules:</p>

            <ul>
              <li>Make sure you post in the correct category.</li>
              <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
              <li>Do not upload pictures with watermarks.</li>
              <li>Do not post ads containing multiple items unless it's a package deal.</li>
              <li>Do not put your email or phone numbers in the title or description.</li>
              <li>Make sure you post in the correct category.</li>
              <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
              <li>Do not upload pictures with watermarks.</li>
              <li>Do not post ads containing multiple items unless it's a package deal.</li>
            </ul>
          </div>
        </div>
        <!-- quick-rules -->
      </div>
      <!-- photos-ad -->
    </div>
  </div>
 
  <!-- <div>Value: {{ postresumeForm.value | json }}</div> -->
  
  <!-- container -->
</section>