<section class=" job-bg ad-details-page">
		<div class="container">
	  
		  <div class="breadcrumb-section">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
			  <li>
				<a routerLink="/home">Home</a>
			  </li>
			  <li>offer Us</li>
			</ol>
			<!-- breadcrumb -->
			<h2 class="title">offer US</h2>
		  </div>
		  <!-- banner -->
	  
		  <div class="job-postdetails post-resume">
			  
			<div class="row">
			  <div class="col-md-12 clearfix ">
				
				  <fieldset>
					 
					
				  </fieldset>
				
				<!-- form -->				
			  </div>			 
			 
			 
			</div>
			<div class="row">
 <!-- quick-rules -->
 <div class="col-md-12">
	<div class="section latest-jobs-ads">
		<div class="section-title tab-manu">
		  <h4>Latest Jobs</h4>
		   <!-- Nav tabs -->      
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation"><a href="#hot-jobs" data-toggle="tab">Hot Jobs</a></li>
			<li role="presentation"><a href="#recent-jobs" data-toggle="tab">Recent Jobs</a></li>
			<li role="presentation" class="active"><a href="#popular-jobs" data-toggle="tab">Popular Jobs</a></li>
		  </ul>
		</div>
  
		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in" id="hot-jobs">
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/3.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class=title>CTO</a> @ <a routerLink="/home">Volja Events & Entertainment</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/1.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class="title">Project Manager</a> @ <a routerLink="/home">Dominos Pizza</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
		  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/2.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class="title">Graphics Designer</a> @ <a routerLink="/home">AOK Security</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/4.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class="title">Human Resource Manager</a> @ <a routerLink="/home">Dropbox Inc</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->
		  </div><!-- tab-pane -->
  
		  <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
		  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/2.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class=title>Graphics Designer</a> @ <a routerLink="/home">AOK Security</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/1.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class=title>Project Manager</a> @ <a routerLink="/home">Dominos Pizza</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/4.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class="title">Human Resource Manager</a> @ <a routerLink="/home">Dropbox Inc</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->						
		  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/3.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class="title">CTO</a> @ <a routerLink="/home">Volja Events & Entertainment</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
		  </div><!-- tab-pane -->
  
		  <div role="tabpanel" class="tab-pane fade in active" id="popular-jobs">
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a href="job-details.html"><img src="assets/images/job/1.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a href="job-details.html" class="title">Project Manager</a> @ <a routerLink="/home">Dominos Pizza</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
		  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a routerLink="/home"><img src="assets/images/job/2.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a routerLink="/home" class="title">Graphics Designer</a> @ <a routerLink="/home">AOK Security</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
		  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a routerLink="/home"><img src="assets/images/job/3.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a routerLink="/home" class="title">CTO</a> @ <a routerLink="/home">Volja Events & Entertainment</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->	
  
			<div class="job-ad-item">
			  <div class="item-info">
				<div class="item-image-box">
				  <div class="item-image">
					<a routerLink="/home"><img src="assets/images/job/4.png" alt="Image" class="img-responsive"></a>
				  </div><!-- item-image -->
				</div>
  
				<div class="ad-info">
				  <span><a routerLink="/home" class="title">Human Resource Manager</a> @ <a routerLink="/home">Dropbox Inc</a></span>
				  <div class="ad-meta">
					<ul>
					  <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
					  <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
					  <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
					  <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
					</ul>
				  </div><!-- ad-meta -->									
				</div><!-- ad-info -->
				<div class="button">
				  <a routerLink="/home" class="btn btn-primary">Apply Now</a>
				</div>
			  </div><!-- item-info -->
			</div><!-- ad-item -->
		  </div><!-- tab-pane -->
		</div><!-- tab-content -->
	  </div><!-- trending ads -->		

</div>
<!-- quick-rules -->
			</div>
			<!-- photos-ad -->
		  </div>
		</div>
		<!-- <div>Value: {{ postresumeForm.value | json }}</div> -->
		
		<!-- container -->
	  </section>






















































































