<section class=" job-bg page  ad-profile-page">
	<div class="container">
		<div class="breadcrumb-section">
			<ol class="breadcrumb">
				<li>
					<a routerLink="/home">Acceuil</a>
				</li>
				<li>Service</li>
			</ol>
			<h2 class="title">LES SERVICES OFFRE</h2>
		</div>
		<!-- breadcrumb-section -->
		<div class="resume-content">

			<div class="work-history section">
				<!-- <div class="icons">
			            <i class="fa fa-briefcase" aria-hidden="true"></i>
			        </div>    -->
				<div class="work-info">
					<!-- <h3>Services</h3> -->
					<ul>
						<li>
							<h4 class="staffhead">Consultez les dernières offres de stage  </h4>
							<p>
								Retrouvez toutes les offres de stage déposées par les entreprises dans votre espace étudiant. Pour voir les coordonnées de l'entreprise, créez votre compte sur Mon stage en ligne, c'est facile et rapide ! Si vous êtes une entreprise, déposez votre offre et consulter les demandes des étudiants depuis votre espace.</p>
						</li>
						<div class="row">
							<div class="col-md-6">
								<li>
									<form  [formGroup]="cvForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" >
										<input formControlName="file" type="file" name="cv" >
										<input type="submit" name="submit" value="Upload (Resumes automatically)">
										<button type="submit">send</button>
									  </form>
									  
									  
								</li>
							</div>
							<div class="col-md-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<li>
									
								</li>
							</div>
							<div class="col-md-6">
								
							</div>
						</div>
					</ul>
				</div>
			</div>


		</div>
		<div class="resume-content">

			<div class="work-history section">
				<!-- <div class="icons">
							<i class="fa fa-briefcase" aria-hidden="true"></i>
						</div>    -->
				<div class="work-info">
					<!-- <h3>Services</h3> -->
					<ul>
						
						<div class="row">
							<div class="col-md-6">
								
							</div>
							<div class="col-md-6">
							
						</div>
				</div>
				</ul>
			</div>
		</div>


	</div>

	</div>
</section>
<style>
	.staffhead
	{
		color: brown;
		font-size: 2em;
	}
</style>