<div class="banner-job">
  <div class="banner-overlay"></div>
  <div class="container text-center">
    <h1 class="title">Le moyen le plus simple d'obtenir votre stage</h1>
  
    <div class="banner-form">
      
    </div><!-- banner-form -->
    
    <ul class="banner-socail list-inline">
      <li><a routerLink="/home" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a routerLink="/home" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a routerLink="/home" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
      <li><a routerLink="/home" title="Youtube"><i class="fa fa-youtube"></i></a></li>
    </ul><!-- banner-socail -->
  </div><!-- container -->
</div><!-- banner-section -->

<div class="page">
  <div class="container">
    <!-- <div class="section category-items job-category-items  text-center">
      <ul class="category-list">	
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/1.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Accounting/Finance</span>
            <span class="category-quantity">(1298)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/2.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Education/Training</span>
            <span class="category-quantity">(76212)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/3.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Engineer/Architects</span>
            <span class="category-quantity">(212)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/4.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Garments/Textile</span>
            <span class="category-quantity">(972)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/5.png" alt="images" class="img-responsive"></div>
            <span class="category-title">HR/Org. Development</span>
            <span class="category-quantity">(1298)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/6.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Design/Creative</span>
            <span class="category-quantity">(76212)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/7.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Research/Consultancy</span>
            <span class="category-quantity">(1298)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/8.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Medical/Pharma</span>
            <span class="category-quantity">(76212)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/9.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Music & Arts</span>
            <span class="category-quantity">(212)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/10.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Marketing/Sales</span>
            <span class="category-quantity">(1298)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/11.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Production/Operation</span>
            <span class="category-quantity">(124)</span>
          </a>
        </li>
        
        <li class="category-item">
          <a routerLink="/home">
            <div class="category-icon"><img src="assets/images/icon/12.png" alt="images" class="img-responsive"></div>
            <span class="category-title">Miscellaneous</span>
            <span class="category-quantity">(972)</span>
          </a>
        </li>					
      </ul>				
    </div>category ad			 -->

    

   
    

    <div class="section cta cta-two text-center">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-cta">
            <div class="cta-icon icon-jobs">
              <img src="assets/images/icon/31.png" alt="Icon" class="img-responsive">
            </div><!-- cta-icon -->
            <h3>{{this.countoffre}}</h3>
            <h4>Total des Stages</h4>
          </div>
        </div><!-- single-cta -->

        <div class="col-sm-4">
          <div class="single-cta">
            <!-- cta-icon -->
            <div class="cta-icon icon-company">
              <img src="assets/images/icon/32.png" alt="Icon" class="img-responsive">
            </div><!-- cta-icon -->
            <h3>{{this.countstagiare}}</h3>
            <h4>Total des Stagiaires</h4>
          </div>
        </div><!-- single-cta -->

        <div class="col-sm-4">
          <div class="single-cta">
            <div class="cta-icon icon-candidate">
              <img src="assets/images/icon/33.png" alt="Icon" class="img-responsive">
            </div><!-- cta-icon -->
            <h3>{{this.countentreprise}}</h3>
            <h4>Total des Entreprises</h4>
          </div>
        </div><!-- single-cta -->
      </div><!-- row -->
    </div><!-- cta -->			

  </div><!-- conainer -->
</div><!-- page -->

<!-- download 
<section id="download" class="clearfix parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Download on App Store</h2>
      </div>
    </div><

    
    <div class="row">
      
      <div class="col-sm-4">
        <a routerLink="/home" class="download-app">
          <img src="assets/images/icon/16.png" alt="Image" class="img-responsive">
          <span class="pull-left">
            <span>available on</span>
            <strong>Google Play</strong>
          </span>
        </a>
      </div>

      
      <div class="col-sm-4">
        <a routerLink="/home" class="download-app">
          <img src="assets/images/icon/17.png" alt="Image" class="img-responsive">
          <span class="pull-left">
            <span>available on</span>
            <strong>App Store</strong>
          </span>
        </a>
      </div>

      
      <div class="col-sm-4">
        <a routerLink="/home" class="download-app">
          <img src="assets/images/icon/18.png" alt="Image" class="img-responsive">
          <span class="pull-left">
            <span>available on</span>
            <strong>Windows Store</strong>
          </span>
        </a>
      </div>
    </div>
  </div>
</section> -->